<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.sidiff.remote.application.ui.connector"
            name="SiDiff">
      </category>
      <view
            category="org.sidiff.remote.application.ui.connector"
            class="org.sidiff.remote.application.ui.connector.views.SiDiffModelRepositoryView"
            icon="icons/sample.png"
            id="org.sidiff.remote.application.ui.connector.views.SiDiffModelRepositoryView"
            inject="true"
            name="SiDiff Model Repository">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.sidiff.remote.application.ui.connector.views.SiDiffModelRepositoryView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.sidiff.remote.application.ui.connector.decorators.ProjectDecorator"
            id="org.sidiff.remote.application.ui.connector.decorator.project"
            label="Project Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IProject">
            </objectClass>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            class="org.sidiff.remote.application.ui.connector.decorators.DirtyFileDecorator"
            id="org.sidiff.remote.application.ui.connector.decorator.file"
            label="File Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IFile">
            </objectClass></enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="org.sidiff.remote.application.ui.connector.console.SiDiffClientConnectorConsoleFactory"
            label="SiDiff Client Connector Console">
      </consoleFactory>
   </extension>

</plugin>
