<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.conflicts.modifieddetector">
      <modifieddetector
            class="org.sidiff.ecore.modifieddetector.EcoreModifiedDetector"
            key="EcoreModifiedDetector"
            name="Modified Detector for Ecore">
         <documentType>
            http://www.eclipse.org/emf/2002/Ecore
         </documentType>
      </modifieddetector>
   </extension>

</plugin>
