<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="repository_adapter" name="Repository Adapter" schema="schema/repository_adapter.exsd"/>
   <extension
         id="SiDiffRemoteApplicationServer"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.sidiff.remote.application.SiDiffRemoteApplicationServer">
         </run>
      </application>
   </extension>
   <extension
         point="org.sidiff.remote.common.remotePreferencesSuppliers">
      <supplier
            class="org.sidiff.remote.application.preferences.RemotePreferencesSupplier">
      </supplier>
   </extension>

</plugin>
