<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.integration.preferences.settingsAdapter">
      <adapter
            class="org.sidiff.integration.preferences.patching.settingsadapter.PatchingSettingsAdapter"
            pipelineStep="org.sidiff.integration.preferences.patching.pipelineStep">
      </adapter>
   </extension>
   <extension
         point="org.sidiff.integration.preferences.pipelineSteps">
      <pipelineStep
            id="org.sidiff.integration.preferences.patching.pipelineStep"
            position="40"
            title="Patching">
      </pipelineStep>
   </extension>
   <extension
         point="org.sidiff.integration.preferences.preferenceTabs">
      <tab
            class="org.sidiff.integration.preferences.patching.tabs.PatchingEnginesPreferenceTab"
            helpContextId="org.sidiff.integration.preferences.engines_patching"
            page="engines"
            pipelineStep="org.sidiff.integration.preferences.patching.pipelineStep">
      </tab>
      <tab
            class="org.sidiff.integration.preferences.patching.tabs.PatchingValidationPreferenceTab"
            helpContextId="org.sidiff.integration.preferences.validation_patching"
            page="validation"
            pipelineStep="org.sidiff.integration.preferences.patching.pipelineStep">
      </tab>
      <tab
            class="org.sidiff.integration.preferences.patching.tabs.DomainPatchingEnginesPreferenceTab"
            helpContextId="org.sidiff.integration.preferences.engines_patching"
            page="engines"
            pipelineStep="org.sidiff.integration.preferences.patching.pipelineStep">
      </tab>
   </extension>
</plugin>
