<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.editrule.rulebase.project.runtime.extension">
      <project
            rulebase="org.sidiff.ecore.editrules.not_used_by_editor.RuleBaseProject">
      </project>
   </extension>
</plugin>
