<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.patching.transformationengine">
      <client
            key="HenshinTransformationEngine"
            name="Henshin Transformation Engine"
            class="org.sidiff.patching.transformator.henshin.HenshinTransformationEngineImpl">
         <documentType>
            generic
         </documentType>
      </client>
   </extension>

</plugin>
