<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.integration.remote.loaders">
      <platformResourceLoader
            class="org.sidiff.integration.remote.git.GitPlatformResourceLoader">
      </platformResourceLoader>
   </extension>

</plugin>
