<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.sidiff.profileapplicator.batch.Runner"
         name="org.sidiff.profileapplicator.batch.Runner"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.sidiff.profileapplicator.batch.Runner">
         </run>
      </application>
   </extension>

</plugin>
