<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.sidiff.vcmsintegration.preferences.enginePipelineStep" name="SiDiff Engine Pipeline Step" schema="schema/org.sidiff.vcmsintegration.preferences.pipelineStep.exsd"/>
   <extension-point id="org.sidiff.vcmsintegration.preferences.settingsFactory" name="SiDiff Settings Factory" schema="schema/org.sidiff.vcmsintegration.preferences.settingsFactory.exsd"/>
   <extension-point id="org.sidiff.vcmsintegration.preferences.validationPipelineStep" name="SiDiff Validation Pipeline Step" schema="schema/org.sidiff.vcmsintegration.preferences.validationPipelineStep.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.sidiff.vcmsintegration.preferences.MainPage"
            id="org.sidiff.vcmsintegration.preferences.mainPage"
            name="SiDiff Settings">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.sidiff.vcmsintegration.preferences.mainPage"
            class="org.sidiff.vcmsintegration.preferences.EnginesPage"
            id="org.sidiff.vcmsintegration.preferences.enginesPage"
            name="Engines">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.sidiff.vcmsintegration.preferences.mainPage"
            class="org.sidiff.vcmsintegration.preferences.ResStratPage"
            id="org.sidiff.vcmsintegration.preferences.resStratPage"
            name="Resolution Strategy">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.sidiff.vcmsintegration.preferences.mainPage"
            class="org.sidiff.vcmsintegration.preferences.ValidationPage"
            id="org.sidiff.vcmsintegration.preferences.validationPage"
            name="Validation">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.sidiff.vcmsintegration.preferences.mainPage"
            class="org.sidiff.vcmsintegration.preferences.DomainsPage"
            id="org.sidiff.vcmsintegration.preferences.DomainsPage"
            name="Domains">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.sidiff.vcmsintegration.preferences.MainPage"
            id="org.sidiff.vcmsintegration.properties.mainPage"
            name="SiDiff Settings"
            objectClass="org.eclipse.core.resources.IProject">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.sidiff.vcmsintegration.properties.mainPage"
            class="org.sidiff.vcmsintegration.preferences.EnginesPage"
            id="org.sidiff.vcmsintegration.properties.enginesPage"
            name="Engines"
            objectClass="org.eclipse.core.resources.IProject">
      </page>
   </extension>
	<extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.sidiff.vcmsintegration.properties.mainPage"
            class="org.sidiff.vcmsintegration.preferences.ResStratPage"
            id="org.sidiff.vcmsintegration.properties.resStratPage"
            name="Resolution Strategy"
            objectClass="org.eclipse.core.resources.IProject">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.sidiff.vcmsintegration.properties.mainPage"
            class="org.sidiff.vcmsintegration.preferences.ValidationPage"
            id="org.sidiff.vcmsintegration.properties.validationPage"
            name="Validation"
            objectClass="org.eclipse.core.resources.IProject">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.sidiff.vcmsintegration.properties.mainPage"
            class="org.sidiff.vcmsintegration.preferences.DomainsPage"
            id="org.sidiff.vcmsintegration.properties.domainsPage"
            name="Domains"
            objectClass="org.eclipse.core.resources.IProject">
      </page>
   </extension>
   <extension
         point="org.sidiff.vcmsintegration.preferences.validationPipelineStep">
      <client
            class="org.sidiff.vcmsintegration.preferences.ValidationGeneral">
      </client>
   </extension>
</plugin>
