
Alle KOMPLEXEN erneut untersuchen!

<eClassifiers xsi:type="ecore:EClass" name="EAttribute" eSuperTypes="#//EStructuralFeature">
ConsistentTransient 
--> Not realizable because of OR clauses

<eClassifiers xsi:type="ecore:EClass" name="EAnnotation" eSuperTypes="#//EModelElement">
WellFormedSourceURI
--> Not realizable in Henshin

<eClassifiers xsi:type="ecore:EClass" name="EClass" eSuperTypes="#//EClassifier"> 
InterfaceIsAbstract
--> Added to editrules.atomic.manual
--> Added to editrules.complex for changing a class to an interface

AtMostOneID
--> Added to editrules.atomic in EAttribute Creation and changing iD

UniqueFeatureNames
--> To much references through the whole Ecore MM, not realizable

UniqueOperationSignatures
--> Not realizable in Henshin

NoCircularSuperTypes
--> Added to editrules.atomic.manual

WellFormedMapEntryClass 
--> Not realizable in Henshin

ConsistentSuperTypes 
--> Probleme bzgl transienter Attribute (eAllSuperTypes, eAllGenericTypes)
(Umsetzen?)

DisjointFeatureAndOperationSignatures 
--> Not realizable in Henshin

<eClassifiers xsi:type="ecore:EClass" name="EClassifier" abstract="true" eSuperTypes="#//ENamedElement">
WellFormedInstanceTypeName
--> Not realizable in Henshin

UniqueTypeParameterNames 
--> Create, Change: nötig?(Name dort nicht gesetzt!)

<eClassifiers xsi:type="ecore:EClass" name="EEnum" eSuperTypes="#//EDataType">
UniqueEnumeratorNames
--> Added to create_eenumliteralineenum and set_eenumliteralname and move_eenumliteral_ref.... 

UniqueEnumeratorLiterals
--> Added to create_eenumliteralineenum and set_eenumliteral and move_eenumliteral_ref.... 

!!!MOVE REF besprechen!!!

<eClassifiers xsi:type="ecore:EClass" name="ENamedElement" abstract="true" eSuperTypes="#//EModelElement">
WellFormedName 
--> Not realizable in Henshin

<eClassifiers xsi:type="ecore:EClass" name="EOperation" eSuperTypes="#//ETypedElement">
UniqueParameterNames
--> Added to create,move,set

UniqueTypeParameterNames
--> Create, Change: nötig?(Name dort nicht gesetzt!)

NoRepeatingVoid 
--> Added to editrules.atomic.manual

<eClassifiers xsi:type="ecore:EClass" name="EPackage" eSuperTypes="#//ENamedElement">
WellFormedNsURI
--> Not realizable in Henshin

WellFormedNsPrefix
--> Not realizable in Henshin

UniqueSubpackageNames 
--> Added to create,move,set: distinction between Package and Subpacke in SETNAME

UniqueClassifierNames 
--> Added to create,move for all three Classifiers: EClass, EDataType, EENum

UniqueNsURIs 
--> Rekursion bis zur Wurzel

!!! Besprechen wie zu lösen (EFactory geht nicht) !!!

<eClassifiers xsi:type="ecore:EClass" name="EStructuralFeature" abstract="true"
ValidDefaultValueLiteral
--> Not realizable in Henshin

<eClassifiers xsi:type="ecore:EClass" name="EReference" eSuperTypes="#//EStructuralFeature">
ConsistentOpposite
--> Relativ aufwendig, machbar?

SingleContainer
--> Containment != boolean container ?!
 
ConsistentKeys 
--> EKeys ?!

ConsistentUnique 
--> Not realizable because of OR clauses

ConsistentContainer 
--> Wie machbar?

<eClassifiers xsi:type="ecore:EClass" name="ETypedElement" abstract="true" eSuperTypes="#//ENamedElement"> 
ValidLowerBound 
--> Not realizable in Henshin

ValidUpperBound
--> Not realizable in Henshin

ConsistentBounds
--> Not realizable in Henshin
 
ValidType 
--> To much references through the whole Ecore MM, not realizable (and realized implicit through our type-safety)


