<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated de_imotep_core_behavior -->
      <package
            uri="http://www.moflon.org.de_imotep_core_behavior"
            class="de.imotep.core.behavior.de_imotep_core_behavior.De_imotep_core_behaviorPackage"
            genModel="model/de_imotep_core_behavior.genmodel"/>
   </extension>

</plugin>
