*.class
bin/
tmp/
.settings/
*.tmp
*.bak
*.swp

# LaTeX
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# Windows
Thumbs.db
thumbs.db
/research/kompren.ecore/src/main/kompren-gen
/research/kompren.ecore/src/main/xtend-gen
