<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.common.emf.metrics.metrics_extension">
      <metric
            class="org.sidiff.common.emf.metrics.defaults.TypeCountingMetric:org.sidiff.difference.asymmetric.OperationInvocation"
            key="asymmetric.NumberOfOperationInvocations"
            name="Number of OperationInvocations">
         <documentType>
            http://www.sidiff.org/difference/asymmetric/1.0
         </documentType>
      </metric>
      <metric
            class="org.sidiff.common.emf.metrics.defaults.TypeCountingMetric:org.sidiff.difference.asymmetric.DependencyContainer"
            key="asymmetric.NumberOfDependencyContainers"
            name="Number of DependencyContainers">
         <documentType>
            http://www.sidiff.org/difference/asymmetric/1.0
         </documentType>
      </metric>
   </extension>

</plugin>
