<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.domain.editor">
      <editor
            class="org.sidiff.domain.editor.featuremodel.Editor1"
            diagramEditor="org.eclipse.featuremodel.diagrameditor.diagrameditor"
            treeEditor="de.imotep.featuremodel.variability.metamodel.FeatureModel.presentation.FeatureModelEditorID">
      </editor>
   </extension>

</plugin>
