<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated HypertextLayer -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.sidiff.coevolution.example.swml.crossreferences.hypertextlayer.presentation.HypertextlayerModelWizardID"
            name="%_UI_HypertextlayerModelWizard_label"
            class="org.sidiff.coevolution.example.swml.crossreferences.hypertextlayer.presentation.HypertextlayerModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/HypertextlayerModelFile.gif">
         <description>%_UI_HypertextlayerModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated HypertextLayer -->
      <editor
            id="org.sidiff.coevolution.example.swml.crossreferences.hypertextlayer.presentation.HypertextlayerEditorID"
            name="%_UI_HypertextlayerEditor_label"
            icon="icons/full/obj16/HypertextlayerModelFile.gif"
            extensions="hypertextlayer"
            class="org.sidiff.coevolution.example.swml.crossreferences.hypertextlayer.presentation.HypertextlayerEditor"
            contributorClass="org.sidiff.coevolution.example.swml.crossreferences.hypertextlayer.presentation.HypertextlayerActionBarContributor">
      </editor>
   </extension>

</plugin>
