<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated HypertextLayer -->
      <package
            uri="http://hypertextlayer/1.0"
            class="org.sidiff.coevolution.example.swml.crossreferences.hypertextlayer.HypertextlayerPackage"
            genModel="model/HypertextLayer.genmodel"/>
   </extension>

</plugin>
