<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension-point id="type" name="Rule-Base View-Type" schema="schema/type.exsd"/>

   <extension
         point="org.sidiff.editrule.rulebase.view.type">
      <view
            factory="org.sidiff.editrule.rulebase.view.editrule.EditRuleBaseFactory">
      </view>
   </extension>
   
   <extension
         point="org.sidiff.editrule.rulebase.view.type">
      <view
            factory="org.sidiff.editrule.rulebase.view.basic.BasicRuleBaseFactory">
      </view>
   </extension>

</plugin>
