<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
            <extension 
               id="rulebasenature"
         name="Rulebase Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.sidiff.difference.rulebase.nature.RuleBaseProjectNature">
         </run>
      </runtime>
      <builder
            id="org.sidiff.difference.rulebase.builder.rulebasebuilder">
      </builder>
   </extension>
             <extension
                   point="org.eclipse.ui.ide.projectNatureImages">
                <image
                      icon="icons/rulebase.gif"
                      id="org.sidiff.difference.rulebase.project.icon"
                      natureId="org.sidiff.difference.rulebase.project.rulebasenature">
                </image>
             </extension>
             <extension
                   point="org.eclipse.pde.ui.pluginContent">
                <wizard
                      category="SiLift"
                      class="org.sidiff.difference.rulebase.project.wizard.RulebaseProjectWizard"
                      icon="icons/16x16_rulebase.gif"
                      id="org.sidiff.difference.rulebase.project.rulebaseProjectWizard"
                      java="true"
                      name="Rulebase Plug-In Project"
                      pureOSGi="false"
                      rcp="false"
                      requiresActivator="true"
                      ui-content="true">
                   <description>
                      Th
                   </description>
                </wizard>
             </extension>
             <extension
                   point="org.eclipse.pde.ui.templates">
                <template
                      class="org.sidiff.difference.rulebase.project.templates.RuleBaseTemplateSection"
                      contributingId="org.sidiff.difference.rulebase.project.templates.rulebasetemplate"
                      icon="icons/16x16_rulebase.gif"
                      id="org.sidiff.difference.rulebase.project.templates.rulebasetemplate"
                      name="RuleBase">
                </template>
             </extension>

</plugin>
