<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.ui.editors">
      <!-- @generated configuration -->
      <editor
            id="org.sidiff.slicer.structural.configuration.presentation.ConfigurationEditorID"
            name="%_UI_ConfigurationEditor_label"
            icon="icons/full/obj16/ConfigurationModelFile.gif"
            extensions="scfg"
            class="org.sidiff.slicer.structural.configuration.presentation.ConfigurationEditor"
            contributorClass="org.sidiff.slicer.structural.configuration.actions.ConfigurationActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.sidiff.slicer.structural.configuration.presentation.ConfigurationEditorID"
            tabDescriptorProvider="org.sidiff.slicer.structural.configuration.presentation.properties.TabDescriptorProvider">
         <propertyCategory
               category="Default">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.sidiff.slicer.structural.configuration.commands.RunSlicerActionHandler"
            id="org.sidiff.slicer.structural.configuration.editor.commands.RunSlicer"
            name="%_UI_RunSlicer_command_label">
      </command>
      <command
            defaultHandler="org.sidiff.slicer.structural.configuration.commands.AddSliceActionHandler"
            id="org.sidiff.slicer.structural.configuration.editor.commands.AddSlice"
            name="%_UI_AddToSlicingConfiguration_command_label">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.sidiff.slicer.structural.configuration.editor.commands.RunSlicer"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="scfg">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.sidiff.slicer.structural.configuration.editor.commands.AddSlice"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.sidiff.slicer.structural.configuration.editor"
            name="%pluginName"
            parentCategory="org.sidiff.ui.category">
      </category>
      <view
            allowMultiple="false"
            category="org.sidiff.slicer.structural.configuration.editor"
            class="org.sidiff.slicer.structural.configuration.views.AlternativeElementsView"
            icon="icons/full/obj16/brkp_grp.gif"
            id="org.sidiff.slicer.structural.configuration.views.AlternativeElementsView"
            name="%_UI_AlternativeElements_view_label">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.sidiff.slicer.structural.configuration.editor.commands.RunSlicer"
            icon="icons/full/obj16/start_task.gif">
      </image>
      <image
            commandId="org.sidiff.slicer.structural.configuration.editor.commands.AddSlice"
            icon="icons/full/obj16/add_obj.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.sidiff.slicer.structural.configuration.preferences.RootPreferencePage"
            id="org.sidiff.slicer.structural.configuration.preferences.RootPreferencePage"
            name="%pluginName">
      </page>
      <page
            category="org.sidiff.slicer.structural.configuration.preferences.RootPreferencePage"
            class="org.sidiff.slicer.structural.configuration.preferences.ColorPreferencePage"
            id="org.sidiff.slicer.structural.configuration.preferences.ColorPreferencePage"
            name="%_UI_ColorPreference_Title">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.sidiff.slicer.structural.configuration.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
