<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.slicer.structural.configuration.constraintinterpreter">
      <client
            class="org.sidiff.slicer.structural.constraint.ocl.OCLConstraintInterpreter">
      </client>
   </extension>

</plugin>
