<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DataLayer -->
      <package
            uri="http://datalayer/1.0"
            class="org.sidiff.coevolution.example.swml.crossreferences.datalayer.DatalayerPackage"
            genModel="model/DataLayer.genmodel"/>
   </extension>

</plugin>
