<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.sidiff.editrule.rulebase.project.runtime.extension">
      <project
            rulebase="org.sidiff.uml2v4.editrules.complex.RuleBaseProject">
      </project>
   </extension>

</plugin>
