<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.difference.technical.technical_difference_builder_extension">
      <technical
            difference_builder="org.sidiff.uml2v4.difference.technical.TechnicalDifferenceBuilderUML">
      </technical>
      <technical
            difference_builder="org.sidiff.uml2v4.difference.technical.TechnicalDifferenceBuilderUMLForDELTA">
      </technical>
      <technical
            difference_builder="org.sidiff.uml2v4.difference.technical.TechnicalDifferenceBuilderUMLLiterals">
      </technical>
   </extension>
</plugin>
