<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension-point id="constraintinterpreter" name="Constraint Interpreter" schema="schema/constraintinterpreter.exsd"/>

   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated configuration -->
      <package
            uri="http://www.sidiff.org/slicer/structural/configuration/1.0"
            class="org.sidiff.slicer.structural.configuration.ConfigurationPackage"
            genModel="model/configuration.genmodel"/>
   </extension>

</plugin>
