<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.integration.preferences.enginePipelineStep">
      <client
            class="org.sidiff.integration.preferences.difference.DifferenceEnginesPreferenceTab">
      </client>
   </extension>
   <extension
         point="org.sidiff.integration.preferences.settingsFactory">
      <client
            class="org.sidiff.integration.preferences.difference.factory.DifferenceSettingsFactory">
      </client>
   </extension>
   <extension
         point="org.sidiff.integration.preferences.validationPipelineStep">
      <client
            class="org.sidiff.integration.preferences.difference.DifferenceValidationPreferenceTab">
      </client>
   </extension>

</plugin>
