<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.sidiff.patching.ui.category"
            name="SiDiff Patching"
            parentCategory="org.sidiff.ui.category">
      </category>
      <view
            allowMultiple="false"
            category="org.sidiff.patching.ui.category"
            class="org.sidiff.patching.ui.view.OperationExplorerView"
            icon="icons/operation_explorer.gif"
            id="org.sidiff.patching.ui.view.OperationExplorerView"
            name="Operation Explorer"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.sidiff.patching.ui.category"
            class="org.sidiff.patching.ui.view.ReportView"
            icon="icons/execution_report.gif"
            id="org.sidiff.patching.ui.view.ReportView"
            name="Execution Report"
            restorable="true">
      </view>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command
            categoryId="org.silift.patching.ui.category.silift"
            id="org.sidiff.patching.ui.PatchApplyCommand"
            name="Apply Patch">
      </command>
      <command
            categoryId="org.silift.patching.ui.category.silift"
            id="org.sidiff.patching.ui.showQualifiedArgumentsCommand"
            name="Show Qualified Arguments">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="org.sidiff.patching.ui.state.showQualifiedArgumentName">
         </state>
      </command>
      <command
            categoryId="org.silift.patching.ui.category.silift"
            id="org.sidiff.patching.ui.ShowReliabilitiesCommand"
            name="Show Reliabilities">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="org.sidiff.patching.ui.state.showReliability">
         </state>
      </command>
      <command
            categoryId="org.silift.patching.ui.category.silift"
            id="org.sidiff.patching.ui.showNonDefaultArguments"
            name="Show Non Default Arguments">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="org.sidiff.patching.ui.state.showNonDefaultArguments">
         </state>
      </command>
      <command
            categoryId="org.silift.patching.ui.category.silift"
            id="org.sidiff.patching.ui.AsymmetricApplyCommand"
            name="Apply Asymmetric Difference">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.sidiff.patching.ui.handler.PatchApplyHandler"
            commandId="org.sidiff.patching.ui.PatchApplyCommand">
         <activeWhen>
            <reference
                  definitionId="org.sidiff.patching.ui.patchApplyDefinition">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.sidiff.patching.ui.handler.ShowQualifiedArgumentsHandler"
            commandId="org.sidiff.patching.ui.showQualifiedArgumentsCommand">
      </handler>
      <handler
            class="org.sidiff.patching.ui.handler.ShowReliabilitiesHandler"
            commandId="org.sidiff.patching.ui.ShowReliabilitiesCommand">
      </handler>
      <handler
            class="org.sidiff.patching.ui.handler.ShowNonDefaultArguments"
            commandId="org.sidiff.patching.ui.showNonDefaultArguments">
      </handler>
      <handler
            class="org.sidiff.patching.ui.handler.AsymmetricApplyHandler"
            commandId="org.sidiff.patching.ui.AsymmetricApplyCommand">
         <activeWhen>
            <reference
                  definitionId="org.sidiff.patching.ui.asymmetricApplyDefinition">
            </reference>
         </activeWhen>
      </handler>
   </extension>
      <extension point="org.eclipse.ui.menus">
  <menuContribution
        locationURI="popup:org.silift.menu?after=createDifferenceAsymmetric">
     <command
           commandId="org.sidiff.patching.ui.PatchApplyCommand"
           label="Apply Patch"
           tooltip="Apply a patch to a model">
     </command>
     <command
           commandId="org.sidiff.patching.ui.AsymmetricApplyCommand"
           label="Apply Asymmetric Difference"
           tooltip="Apply an asymmetric difference to a model">
     </command>
     <separator
           name="applyDifferenceAsymmetric"
           visible="true">
     </separator>
  </menuContribution>
  <menuContribution
        allPopups="false"
        locationURI="toolbar:org.eclipse.ui.views.PropertySheet">
     <command
           commandId="org.sidiff.patching.ui.showQualifiedArgumentsCommand"
           icon="icons/url_16x16.gif"
           style="toggle"
           tooltip="Enables qualified argument names">
        <visibleWhen>
           <reference
                 definitionId="org.sidiff.patching.ui.definition.PropertiesView">
           </reference>
        </visibleWhen>
     </command>
     <command
           commandId="org.sidiff.patching.ui.ShowReliabilitiesCommand"
           icon="icons/reliability_16x16.gif"
           style="toggle"
           tooltip="Enables reliability values of the matching result">
        <visibleWhen>
           <reference
                 definitionId="org.sidiff.patching.ui.definition.PropertiesView">
           </reference>
        </visibleWhen>
     </command>
     <command
           commandId="org.sidiff.patching.ui.showNonDefaultArguments"
           icon="icons/filter_changed_attributes.gif"
           style="toggle"
           tooltip="Enables the visibility of non-defaulting arguments">
        <visibleWhen>
           <reference
                 definitionId="org.sidiff.patching.ui.definition.PropertiesView">
           </reference>
        </visibleWhen>
     </command>
  </menuContribution>
  </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.sidiff.patching.ui.patchApplyDefinition">
         <and>
            <count
                  value="1">
            </count>
            <iterate>
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="slp">
                  </test>
               </adapt>
            </iterate>
         </and>
      </definition>
      <definition
            id="org.sidiff.patching.ui.definition.PropertiesView">
         <with
               variable="activeWorkbenchWindow.activePerspective">
            <equals
                  value="org.sidiff.patching.ui.perspective.SiLiftPerspective">
            </equals>
         </with>
      </definition>
      <definition
            id="org.sidiff.patching.ui.asymmetricApplyDefinition">
         <and>
            <count
                  value="1">
            </count>
            <iterate>
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="asymmetric">
                  </test>
               </adapt>
            </iterate>
         </and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.sidiff.patching.operation.OperationInvocationWrapper"
            class="org.sidiff.patching.ui.view.OperationInvocationWrapperAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
       <factory
            adaptableType="org.sidiff.patching.report.ReportEntry"
            class="org.sidiff.patching.ui.view.ReportEntryAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor contributorId="org.sidiff.patching.ui.view.OperationExplorerView">
      	<propertyCategory category="operationInvocation"/>
      </propertyContributor>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.sidiff.patching.ui.view.OperationExplorerView">
         <propertyTab category="operationInvocation"
               id="org.sidiff.patching.ui.view.OperationExplorerView.OperationTab" label="Operation"/>
         <propertyTab afterTab="org.sidiff.patching.ui.view.OperationExplorerView.OperationTab"
            category="operationInvocation" id="org.sidiff.patching.ui.view.OperationExplorerView.ArgumentsTab"
            label="Arguments"/>
         <propertyTab
               afterTab="org.sidiff.patching.ui.view.OperationExplorerView.ArgumentsTab"
               category="operationInvocation"
               id="org.sidiff.patching.ui.view.OperationExplorerView.Arguments.InputTab"
               indented="true"
               label="Input">
         </propertyTab>
         <propertyTab
               afterTab="org.sidiff.patching.ui.view.OperationExplorerView.ArgumentsTab"
               category="operationInvocation"
               id="org.sidiff.patching.ui.view.OperationExplorerView.Arguments.OutputTab"
               indented="true"
               label="Output">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.sidiff.patching.ui.view.OperationExplorerView">
         <propertySection
               class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
               id="org.sidiff.patching.ui.view.OperationExplorerView.OperationSection"
               tab="org.sidiff.patching.ui.view.OperationExplorerView.OperationTab">
               <input type="org.sidiff.patching.operation.OperationInvocationWrapper"/>
         </propertySection>
         <propertySection
               class="org.sidiff.patching.ui.view.InputParameterSection"
               id="org.sidiff.patching.ui.arguments.InputParameterSection"
               tab="org.sidiff.patching.ui.view.OperationExplorerView.Arguments.InputTab">
            <input
                  type="org.sidiff.patching.operation.OperationInvocationWrapper">
            </input>
         </propertySection>
         <propertySection
               class="org.sidiff.patching.ui.view.OutputParameterSection"
               id="org.sidiff.patching.ui.arguments.OutputParameterSection"
               tab="org.sidiff.patching.ui.view.OperationExplorerView.Arguments.OutputTab">
            <input
                  type="org.sidiff.patching.operation.OperationInvocationWrapper">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.sidiff.patching.ui.perspective.SiLiftPerspective"
            fixed="false"
            icon="icons/perspectiveIcon.png"
            id="org.sidiff.patching.ui.perspective.SiLiftPerspective"
            name="SiLift">
      </perspective>
   </extension>
   <extension
         point="org.sidiff.patching.arguments.manager">
      <manager
            class="org.sidiff.patching.ui.arguments.InteractiveArgumentManager">
      </manager>
      <manager
            class="org.sidiff.patching.ui.arguments.InteractiveSymblArgumentManager">
      </manager>
   </extension>
</plugin>
