<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.silift.diagram.util.openDiagramAction">
      <OpenDiagramAction
            OpenDiagramAction="org.silift.diagram.util.opendiagram.sirius.SiriusOpenDiagramAction">
      </OpenDiagramAction>
   </extension>

</plugin>
