<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.editrule.rulebase.ui.column">
      <column
            class="org.sidiff.difference.rulebase.ui.editor.columns.impl.ColumnRecognitionType"
            id="org.sidiff.difference.rulebase.ui.ColumnRecognitionType"
            insertAfter="APPEND"></column>
      <column
            class="org.sidiff.difference.rulebase.ui.editor.columns.impl.ColumnPriority"
            id="org.sidiff.difference.rulebase.ui.ColumnPriority"
            insertAfter="org.sidiff.difference.rulebase.ui.ColumnRecognitionType">
      </column>
      <column
            class="org.sidiff.difference.rulebase.ui.editor.columns.impl.ColumnRefinementLevel"
            id="org.sidiff.difference.rulebase.ui.ColumnRefinementLevel"
            insertAfter="org.sidiff.difference.rulebase.ui.ColumnPriority">
      </column>
      <column
            class="org.sidiff.difference.rulebase.ui.editor.columns.impl.ColumnParameterCount"
            id="org.sidiff.difference.rulebase.ui.ColumnParameterCount"
            insertAfter="org.sidiff.difference.rulebase.ui.ColumnRefinementLevel">
      </column>
      <column
            class="org.sidiff.difference.rulebase.ui.editor.columns.impl.ColumnACCount"
            id="org.sidiff.difference.rulebase.ui.ColumnACCount"
            insertAfter="org.sidiff.difference.rulebase.ui.ColumnRefinementLevel">
      </column>
   </extension>

</plugin>
