<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.vcmsintegration.remote.loaders">
      <platformResourceLoader
            class="org.sidiff.vcmsintegration.remote.svn.SVNPlatformResourceLoader">
      </platformResourceLoader>
      <relatedFileResolver
            class="org.sidiff.vcmsintegration.remote.svn.SVNRelatedFileResolver">
      </relatedFileResolver>
   </extension>

</plugin>
