<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.common.emf.metrics.metrics_extension">
      <metric
            class="org.sidiff.common.emf.metrics.defaults.TypeCountingMetric:org.sidiff.difference.symmetric.SemanticChangeSet"
            key="symmetric.NumberOfSemanticChangeSets"
            name="Number of SemanticChangeSets">
         <documentType>
            http://www.sidiff.org/difference/symmetric/1.0
         </documentType>
      </metric>
      <metric
            class="org.sidiff.common.emf.metrics.defaults.TypeCountingMetric:org.sidiff.difference.symmetric.Change"
            key="symmetric.NumberOfChanges"
            name="Number of Changes">
         <documentType>
            http://www.sidiff.org/difference/symmetric/1.0
         </documentType>
      </metric>
      <metric
            class="org.sidiff.common.emf.metrics.defaults.TypeCountingMetric:org.sidiff.difference.symmetric.AddObject"
            key="symmetric.NumberOfAddObjectChanges"
            name="Number of AddObject-Changes">
         <documentType>
            http://www.sidiff.org/difference/symmetric/1.0
         </documentType>
      </metric>
      <metric
            class="org.sidiff.common.emf.metrics.defaults.TypeCountingMetric:org.sidiff.difference.symmetric.RemoveObject"
            key="symmetric.NumberOfRemoveObjectChanges"
            name="Number of RemoveObject-Changes">
         <documentType>
            http://www.sidiff.org/difference/symmetric/1.0
         </documentType>
      </metric>
      <metric
            class="org.sidiff.common.emf.metrics.defaults.TypeCountingMetric:org.sidiff.difference.symmetric.AddReference"
            key="symmetric.NumberOfAddReferenceChanges"
            name="Number of AddReference-Changes">
         <documentType>
            http://www.sidiff.org/difference/symmetric/1.0
         </documentType>
      </metric>
      <metric
            class="org.sidiff.common.emf.metrics.defaults.TypeCountingMetric:org.sidiff.difference.symmetric.RemoveReference"
            key="symmetric.NumberOfRemoveReferenceChanges"
            name="Number of RemoveReference-Changes">
         <documentType>
            http://www.sidiff.org/difference/symmetric/1.0
         </documentType>
      </metric>
      <metric
            class="org.sidiff.common.emf.metrics.defaults.TypeCountingMetric:org.sidiff.difference.symmetric.AttributeValueChange"
            key="symmetric.NumberOfAttributeValueChanges"
            name="Number of AttributeValueChanges">
         <documentType>
            http://www.sidiff.org/difference/symmetric/1.0
         </documentType>
      </metric>
   </extension>

</plugin>
