<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension-point id="type" name="Rule-Base Type" schema="schema/type.exsd"/>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated RuleBase -->
      <package
            uri="http://www.sidiff.org/editrule/rulebase/1.0"
            class="org.sidiff.editrule.rulebase.RulebasePackage"
            genModel="model/RuleBase.genmodel"/>
   </extension>
   
   <extension
         point="org.sidiff.editrule.rulebase.type">
      <type
            factory="org.sidiff.editrule.rulebase.type.EditRuleBaseFactory">
      </type>
   </extension>

</plugin>
