<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MagicDrawStatechartsEffective -->
      <package
            uri="http://Magicdraw/Statecharts/Effective"
            class="org.sidiff.magicdraw.statecharts.effective.model.MagicDrawStatechartsEffective.MagicDrawStatechartsEffectivePackage"
            genModel="model/MagicDrawStatechartsEffective.genmodel"/>
   </extension>

</plugin>
