<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.difference.symmetric.compareview.xtextmarker">
      <XtextMarker
            XtextMarker="org.sidiff.difference.symmetric.compareview.xtext.internal.XtextMarkerImpl">
      </XtextMarker>
   </extension>

</plugin>
