<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.difference.symmetric.compareview.xtextmarker">
      <XtextMarker
            xtextmarker="org.sidiff.difference.symmetric.compareview.xtext.internal.XtextMarkerImpl">
      </XtextMarker>
   </extension>
   <extension
         id="org.sidiff.compare.textdecorator"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>

</plugin>
