<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.integration.editor">
      <editor
            class="org.sidiff.integration.editor.ecoretools.EcoreToolsEditorIntegration"
            diagramEditor="org.eclipse.emf.ecoretools.diagram.part.EcoreDiagramEditorID"
            treeEditor="org.eclipse.emf.ecore.presentation.EcoreEditorID">
      </editor>
   </extension>

</plugin>
