<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated SimpleWebModel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="simpleWebModel.presentation.SimpleWebModelModelWizardID"
            name="%_UI_SimpleWebModelModelWizard_label"
            class="simpleWebModel.presentation.SimpleWebModelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SimpleWebModelModelFile.gif">
         <description>%_UI_SimpleWebModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated SimpleWebModel -->
      <editor
            id="simpleWebModel.presentation.SimpleWebModelEditorID"
            name="%_UI_SimpleWebModelEditor_label"
            icon="icons/full/obj16/SimpleWebModelModelFile.gif"
            extensions="swml"
            class="simpleWebModel.presentation.SimpleWebModelEditor"
            contributorClass="simpleWebModel.presentation.SimpleWebModelActionBarContributor">
      </editor>
   </extension>

</plugin>
