<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.sidiff.integration.preferences.SiDiffSettings"
            class="org.sidiff.integration.preferences.remote.pages.RemotePreferencePage"
            id="org.sidiff.integration.preferences.SiDiffSettings.remote"
            name="Remote">
      </page>
   </extension>
   <extension
         point="org.sidiff.remote.common.remotePreferencesSuppliers">
      <supplier
            class="org.sidiff.integration.preferences.remote.UiRemotePreferencesSupplier">
      </supplier>
   </extension>

</plugin>
