<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="EcoreStringResolver"
         name="Ecore String Resolver"
         point="org.sidiff.common.emf.stringresolver.string_resolver_extension">
      <string_resolver
            string_resolver="org.sidiff.ecore.stringresolver.EcoreStringResolver">
         <documentType>http://www.eclipse.org/emf/2002/Ecore</documentType>
      </string_resolver>
   </extension>

</plugin>
