<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.sidiff.integration.compare.structureview.silift"
         point="org.eclipse.compare.structureMergeViewers">
      <viewer
      		extensions="*"
            class="org.sidiff.integration.compare.structureview.SiLiftStructureMergeViewerCreator"
            id="org.sidiff.integration.compare.structureview.silift"
            label="SiLift Model Differences Viewer">
      </viewer>
      <contentTypeBinding
            contentTypeId="org.eclipse.emf.ecore"
            structureMergeViewerId="org.sidiff.integration.compare.structureview.silift">
      </contentTypeBinding>
      <contentTypeBinding
            contentTypeId="org.eclipse.uml2.uml"
            structureMergeViewerId="org.sidiff.integration.compare.structureview.silift">
      </contentTypeBinding>
   </extension>
   <extension
         id="org.sidiff.integration.compare.contentview.silift"
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            class="org.sidiff.integration.compare.contentview.SiLiftContentMergeViewerCreator"
            extensions="*"
            id="org.sidiff.integration.compare.contentview.silift"
            label="SiLift Model Compare Viewer">
      </viewer>
      <contentTypeBinding
            contentMergeViewerId="org.sidiff.integration.compare.contentview.silift"
            contentTypeId="org.eclipse.emf.ecore">
      </contentTypeBinding>
      <contentTypeBinding
            contentMergeViewerId="org.sidiff.integration.compare.contentview.silift"
            contentTypeId="org.eclipse.uml2.uml">
      </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.compare.internal.CompareEditor"
            class="org.sidiff.integration.compare.properties.CompareEditorPropertySheetPageAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySheetPage">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.sidiff.integration.compare.editor">
         <propertyCategory
               category="org.sidiff.integration.compare.editor.category.default"></propertyCategory>
         <propertyCategory
               category="org.sidiff.integration.compare.editor.category.operation">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.sidiff.integration.compare.editor">
         <propertySection
               class="org.sidiff.integration.compare.properties.DefaultPropertySection"
               id="org.sidiff.integration.compare.editor.section.default"
               tab="org.sidiff.integration.compare.editor.tab.default">
            <input
                  type="java.lang.Object">
            </input>
         </propertySection>
         <propertySection
               class="org.sidiff.patching.ui.view.InputParameterSection"
               id="org.sidiff.integration.compare.editor.section.operation.arguments.input"
               tab="org.sidiff.integration.compare.editor.tab.operation.arguments.input">
            <input
                  type="org.sidiff.patching.operation.OperationInvocationWrapper">
            </input>
         </propertySection>
         <propertySection
               class="org.sidiff.patching.ui.view.OutputParameterSection"
               id="org.sidiff.integration.compare.editor.section.operation.arguments.output"
               tab="org.sidiff.integration.compare.editor.tab.operation.arguments.output">
            <input
                  type="org.sidiff.patching.operation.OperationInvocationWrapper">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.sidiff.integration.compare.editor">
         <propertyTab
               category="org.sidiff.integration.compare.editor.category.default"
               id="org.sidiff.integration.compare.editor.tab.default"
               label="Default">
         </propertyTab>
         <propertyTab
               afterTab="org.sidiff.integration.compare.editor.tab.default"
               category="org.sidiff.integration.compare.editor.category.operation"
               id="org.sidiff.integration.compare.editor.tab.operation.arguments.input"
               label="Input">
         </propertyTab>
         <propertyTab
               afterTab="org.sidiff.integration.compare.editor.tab.operation.arguments.input"
               category="org.sidiff.integration.compare.editor.category.operation"
               id="org.sidiff.integration.compare.editor.tab.operation.arguments.output"
               label="Output">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.views.PropertySheet">
         <command
               commandId="org.sidiff.patching.ui.showQualifiedArgumentsCommand"
               icon="icons/url.gif"
               style="toggle"
               tooltip="Enables qualified argument names">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.sidiff.integration.compare.editor.PropertyView">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.sidiff.patching.ui.ShowReliabilitiesCommand"
               icon="icons/reliability.gif"
               style="toggle"
               tooltip="Enables reliability values of the matching result">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.sidiff.integration.compare.editor.PropertyView">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.sidiff.patching.ui.showNonDefaultArguments"
               icon="icons/filter_changed_attributes.gif"
               style="toggle"
               tooltip="Enables the visibility of non-defaulting arguments">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.sidiff.integration.compare.editor.PropertyView">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.sidiff.integration.compare.editor.PropertyView">
         <with
               variable="activeEditorId">
            <equals
                  value="org.eclipse.compare.CompareEditor">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
   </extension>

</plugin>
