<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.sidiff.editrule.rulebase.view.type">
      <view
            factory="org.sidiff.difference.rulebase.view.LiftingRuleBaseFactory"
            id="org.sidiff.difference.rulebase.view.LiftingRuleBase">
         <requiredAttachment
               attachment="org.sidiff.difference.rulebase.RecognitionRule">
         </requiredAttachment>
      </view>
   </extension>

</plugin>
