<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.sidiff.difference.ui.category.silift"
            id="org.sidiff.merging.twoway.ui.command.merge"
            name="Two-Way Merging">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.silift.menu?after=header">
         <command
               commandId="org.sidiff.merging.twoway.ui.command.merge"
               label="Merge two models"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.sidiff.merging.twoway.ui.handlers.TwoWayMergingHandler"
            commandId="org.sidiff.merging.twoway.ui.command.merge">
      </handler>
   </extension>

</plugin>
