<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.common.stringresolver.string_resolver_extension">
      <string_resolver
            string_resolver="org.sidiff.common.stringresolver.ecore.EcoreStringResolver">
      </string_resolver>
   </extension>

</plugin>
