<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="classificator_extension" name="editrule classification" schema="schema/org.sidiff.editrule.classification.exsd"/>
   <extension
         point="org.sidiff.editrule.classificator.classificator_extension">
      <classification
            classification="org.sidiff.editrule.classificator.NameBasedClassificator">
      </classification>
   </extension>

</plugin>
