<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="classification_extension" name="editrule classification" schema="schema/org.sidiff.editrule.analysis.classification.exsd"/>
   <extension
         point="org.sidiff.editrule.analysis.classification.classification_extension">
      <classification
            classification="org.sidiff.editrule.analysis.classification.NameBasedClassificator">
      </classification>
   </extension>

</plugin>
