<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.difference.rulebase.rulebase_extension">
         <rulebase rulebase="org.sidiff.ecore.recognitionrules.complex.EcoreComplexRulebase"/>
   </extension>

  <extension
     point="org.eclipse.emf.ecore.uri_mapping">
    <mapping
       source="platform:/resource/org.sidiff.ecore.editrules.complex/"
       target="platform:/plugin/org.sidiff.ecore.editrules.complex/">
    </mapping>
  </extension>
  <extension
     point="org.eclipse.emf.ecore.uri_mapping">
    <mapping
       source="platform:/resource/org.sidiff.ecore.recognitionrules.complex/"
       target="platform:/plugin/org.sidiff.ecore.recognitionrules.complex/">
    </mapping>
  </extension>
</plugin>