<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.patching.correspondence.sidiff.reliabilitycalculator">
      <client
            class="org.sidiff.patching.reliability.ecore.impl.EcoreReliabilityCalculator"
            documentType="http://www.eclipse.org/emf/2002/Ecore">
      </client>
   </extension>

</plugin>
