<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.sidiff.coevolution.example.swml.multiviews.webmodel.design.Activator"
               id="org.sidiff.coevolution.example.swml.multiviews.webmodel.design"
	       name="webmodel">
    </component>
  </extension>
</plugin>
