<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="rulebasebuilder"
         name="RuleBase Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="true"
            isConfigurable="false"
            supportsConfigurations="false">
         <run
               class="org.sidiff.difference.rulebase.builder.RuleBaseBuilder">
         </run></builder>
         </extension>
  

</plugin>
