<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.editrule.rulebase.builder.attachment">
      <builder
            class="org.sidiff.difference.lifting.edit2recognition.builder.RecognitionRuleBuilder">
      </builder>
   </extension>

</plugin>
