<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated slicingmodel -->
      <package
            uri="http://www.sidiff.org/slicing/model/0.1"
            class="org.sidiff.slicing.slicingmodel.SlicingmodelPackage"
            genModel="model/slicingmodel.genmodel"/>
   </extension>

</plugin>
