<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.integration.preferences.enginePipelineStep">
      <client
            class="org.sidiff.integration.preferences.lifting.LiftingEnginesPreferenceTab">
      </client>
   </extension>
   <extension
         point="org.sidiff.integration.preferences.settingsFactory">
      <client
            class="org.sidiff.integration.preferences.lifting.factory.LiftingSettingsFactory">
      </client>
   </extension>
   <extension
         point="org.sidiff.integration.preferences.validationPipelineStep">
      <client
            class="org.sidiff.integration.preferences.lifting.LiftingValidationPreferenceTab">
      </client>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.sidiff.integration.properties.mainPage"
            class="org.sidiff.integration.preferences.lifting.AdvancedPage"
            id="org.sidiff.integration.properties.lifting.AdvancedPage"
            name="Advanced"
            objectClass="org.eclipse.core.resources.IProject">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.sidiff.integration.preferences.mainPage"
            class="org.sidiff.integration.preferences.lifting.AdvancedPage"
            id="org.sidiff.integration.preferences.lifting.AdvancedPage"
            name="Advanced">
      </page>
   </extension>

</plugin>
