<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.integration.preferences.settingsAdapter">
      <adapter
            class="org.sidiff.integration.preferences.lifting.settingsadapter.LiftingsSettingsAdapter">
      </adapter>
   </extension>
   <extension
         point="org.sidiff.integration.preferences.preferenceTabs">
      <tab
            class="org.sidiff.integration.preferences.lifting.LiftingEnginesPreferenceTab">
      </tab>
   </extension>
</plugin>
