<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.sidiff.integration.editor.highlighting.adapter.selection" name="Selection Highlighting Adapter" schema="schema/org.sidiff.integration.editor.highlighting.adapter.selection.exsd"/>
   <extension
         id="org.sidiff.integration.editor.highlighting.internal.DecoratorProvider"
         name="SiDiff Selection Decorator"
         point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider
            class="org.sidiff.integration.editor.highlighting.gmf.internal.DecoratorProvider">
         <Priority
               name="Lowest">
         </Priority>
         <object
               class="org.eclipse.gmf.runtime.notation.View(org.eclipse.gmf.runtime.notation)"
               id="NODE">
         </object>
         <context
               decoratorTargets="NODE">
         </context>
      </decoratorProvider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.sidiff.integration.editor.highlighting.ui.ToggleHighlightingHandler"
            description="Toggle the highlighting of changes in other model editors."
            id="org.sidiff.integration.editor.highlighting.commands.Toggle"
            name="Toggle Highlighting">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.sidiff.integration.editor.highlighting.commands.Toggle"
            icon="icons/toggle_highlighting.png">
      </image>
   </extension>
</plugin>
