<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.integration.preferences.settingsAdapter">
      <adapter
            class="org.sidiff.integration.preferences.difference.settingsadapter.DifferenceSettingsAdapter"
            pipelineStep="org.sidiff.integration.preferences.difference.pipelineStep">
      </adapter>
   </extension>
   <extension
         point="org.sidiff.integration.preferences.pipelineSteps">
      <pipelineStep
            id="org.sidiff.integration.preferences.difference.pipelineStep"
            position="20"
            title="Difference">
      </pipelineStep>
   </extension>
   <extension
         point="org.sidiff.integration.preferences.preferenceTabs">
      <tab
            class="org.sidiff.integration.preferences.difference.tabs.DifferenceEnginesPreferenceTab"
            helpContextId="org.sidiff.integration.preferences.engines_difference"
            page="engines"
            pipelineStep="org.sidiff.integration.preferences.difference.pipelineStep">
      </tab>
      <tab
            class="org.sidiff.integration.preferences.difference.tabs.DomainDifferenceEnginesPreferenceTab"
            helpContextId="org.sidiff.integration.preferences.engines_difference"
            page="engines"
            pipelineStep="org.sidiff.integration.preferences.difference.pipelineStep">
      </tab>
   </extension>

</plugin>
