<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.sidiff.integration.preferences.ui.pages.internal.MainPage"
            id="org.sidiff.integration.preferences.SiDiffSettings"
            name="SiDiff Settings">
      </page>
      <page
            category="org.sidiff.integration.preferences.SiDiffSettings"
            class="org.sidiff.integration.preferences.ui.pages.internal.PreferencePageExtensionFactory:engines"
            id="org.sidiff.integration.preferences.SiDiffSettings.engines"
            name="Engines">
      </page>
      <page
            category="org.sidiff.integration.preferences.SiDiffSettings"
            class="org.sidiff.integration.preferences.ui.pages.internal.PreferencePageExtensionFactory:validation"
            id="org.sidiff.integration.preferences.SiDiffSettings.validation"
            name="Validation">
      </page>
      <page
            category="org.sidiff.integration.preferences.SiDiffSettings"
            class="org.sidiff.integration.preferences.ui.pages.internal.PreferencePageExtensionFactory:general"
            id="org.sidiff.integration.preferences.SiDiffSettings.general"
            name="General">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.sidiff.integration.preferences.ui.pages.internal.MainPage"
            id="org.sidiff.integration.properties.SiDiffSettings"
            name="SiDiff Settings">
         <enabledWhen>
            <reference
                  definitionId="org.sidiff.integration.preferences.showPropertiesDefinition">
            </reference>
         </enabledWhen>
      </page>
      <page
            category="org.sidiff.integration.properties.SiDiffSettings"
            class="org.sidiff.integration.preferences.ui.pages.internal.PreferencePageExtensionFactory:engines"
            id="org.sidiff.integration.properties.SiDiffSettings.engines"
            name="Engines">
         <enabledWhen>
            <reference
                  definitionId="org.sidiff.integration.preferences.showPropertiesDefinition">
            </reference>
         </enabledWhen>
      </page>
      <page
            category="org.sidiff.integration.properties.SiDiffSettings"
            class="org.sidiff.integration.preferences.ui.pages.internal.PreferencePageExtensionFactory:validation"
            id="org.sidiff.integration.properties.SiDiffSettings.validation"
            name="Validation">
         <enabledWhen>
            <reference
                  definitionId="org.sidiff.integration.preferences.showPropertiesDefinition">
            </reference>
         </enabledWhen>
      </page>
      <page
            category="org.sidiff.integration.properties.SiDiffSettings"
            class="org.sidiff.integration.preferences.ui.pages.internal.PreferencePageExtensionFactory:general"
            id="org.sidiff.integration.properties.SiDiffSettings.general"
            name="General">
         <enabledWhen>
            <reference
                  definitionId="org.sidiff.integration.preferences.showPropertiesDefinition">
            </reference>
         </enabledWhen>
      </page>
   </extension>
</plugin>
