<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.vcmsintegration.preferences.domains.pipelineStep">
      <client
            class="org.sidiff.vcmsintegration.preferences.domains.ecore.difference.EcoreDifferencePreferenceTab">
      </client>
   </extension>

</plugin>
