<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.integration.preferences.enginePipelineStep">
      <client
            class="org.sidiff.integration.preferences.patching.PatchingEnginesPreferenceTab">
      </client>
   </extension>
   <extension
         point="org.sidiff.integration.preferences.settingsFactory">
      <client
            class="org.sidiff.integration.preferences.patching.factory.PatchingSettingsFactory">
      </client>
   </extension>
   <extension
         point="org.sidiff.integration.preferences.validationPipelineStep">
      <client
            class="org.sidiff.integration.preferences.patching.PatchingValidationPreferenceTab">
      </client>
   </extension>
</plugin>
