<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated patch -->
      <package
            uri="http://www.sidiff.org/patching/patch/1.0"
            class="org.sidiff.patching.patch.patch.PatchPackage"
            genModel="model/patch.genmodel"/>
   </extension>

</plugin>
