<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.emf.henshin.editing.utils.category"
            name="Henshin Editing">
      </category>
      <command
            categoryId="org.eclipse.emf.henshin.editing.utils.category"
            description="Creates an edit-rule based on a model difference."
            id="org.eclipse.emf.henshin.editing.utils.command.createeditrule"
            name="Create Example based Edit-Rule">
      </command>
      <command
            categoryId="org.eclipse.emf.henshin.editing.utils.category"
            description="Makes all preserve and delete nodes as abstract as possible."
            id="org.eclipse.emf.henshin.editing.utils.command.makeabstract"
            name="Generalize Edit-Rule">
      </command>
      <command
            categoryId="org.eclipse.emf.henshin.editing.utils.category"
            description="Cleans up the henshin rule meta-model imports."
            id="org.eclipse.emf.henshin.editing.utils.command.cleanupimports"
            name="Clean Up Meta-Model Imports">
      </command>
      <command
            categoryId="org.eclipse.emf.henshin.editing.utils.category"
            description="Cleans up unused Henshin rule parameters."
            id="org.eclipse.emf.henshin.editing.utils.command.cleanupparameters"
            name="Clean Up Edit-Rule Parameters">
      </command>
      <command
            categoryId="org.eclipse.emf.henshin.editing.utils.category"
            description="Removes all non context (preserve) nodes from an edit rule."
            id="org.eclipse.emf.henshin.editing.utils.command.reducetocontext"
            name="Reduce To Minimal Rule">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
         <handler
            class="org.eclipse.emf.henshin.editing.utils.handlers.CreateRuleByExampleHandler"
            commandId="org.eclipse.emf.henshin.editing.utils.command.createeditrule">
            <activeWhen>
               <count
                     value="2">
               </count>
            </activeWhen>
      	 </handler>
         <handler
               class="org.eclipse.emf.henshin.editing.utils.handlers.ReduceToMinimalRuleHandler"
               commandId="org.eclipse.emf.henshin.editing.utils.command.reducetocontext">
            <activeWhen>
               <or>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <reference
                              definitionId="org.eclipse.emf.henshin.fileextension">
                        </reference>
                     </iterate>
                  </with>
                  <with
                        variable="activeEditorInput">
                     <reference
                           definitionId="org.eclipse.emf.henshin.fileextension">
                     </reference>
                  </with>
               </or>
            </activeWhen>
         </handler>
         <handler
               class="org.eclipse.emf.henshin.editing.utils.handlers.GeneralizeRuleHandler"
               commandId="org.eclipse.emf.henshin.editing.utils.command.makeabstract">
            <activeWhen>
               <or>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <reference
                              definitionId="org.eclipse.emf.henshin.fileextension">
                        </reference>
                     </iterate>
                  </with>
                  <with
                        variable="activeEditorInput">
                     <reference
                           definitionId="org.eclipse.emf.henshin.fileextension">
                     </reference>
                  </with>
               </or>
            </activeWhen>
         </handler>
         <handler
               class="org.eclipse.emf.henshin.editing.utils.handlers.CleanUpImportsHandler"
               commandId="org.eclipse.emf.henshin.editing.utils.command.cleanupimports">
            <activeWhen>
               <or>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <reference
                              definitionId="org.eclipse.emf.henshin.fileextension">
                        </reference>
                     </iterate>
                  </with>
                  <with
                        variable="activeEditorInput">
                     <reference
                           definitionId="org.eclipse.emf.henshin.fileextension">
                     </reference>
                  </with>
               </or>
            </activeWhen>
         </handler>
         <handler
               class="org.eclipse.emf.henshin.editing.utils.handlers.CleanUpParametersHandler"
               commandId="org.eclipse.emf.henshin.editing.utils.command.cleanupparameters">
            <activeWhen>
               <or>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <reference
                              definitionId="org.eclipse.emf.henshin.fileextension">
                        </reference>
                     </iterate>
                  </with>
                  <with
                        variable="activeEditorInput">
                     <reference
                           definitionId="org.eclipse.emf.henshin.fileextension">
                     </reference>
                  </with>
               </or>
            </activeWhen>
         </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.emf.henshin.menu">
         <separator
               name="org.eclipse.emf.henshin.editing.utils.separatorTop"
               visible="true">
         </separator>
         <menu
               label="Advanced Editing">
            <command
                  commandId="org.eclipse.emf.henshin.editing.utils.command.createeditrule"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.emf.henshin.editing.utils.command.reducetocontext"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.emf.henshin.editing.utils.command.makeabstract"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.emf.henshin.editing.utils.command.cleanupimports"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.emf.henshin.editing.utils.command.cleanupparameters"
                  style="push">
            </command>
         </menu>
         <separator
               name="org.eclipse.emf.henshin.editing.utils.separatorBottom"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.core.expressions.definitions">
      <definition id="org.eclipse.emf.henshin.fileextension">
         <adapt type="org.eclipse.core.resources.IResource">
            <or>
                <test property="org.eclipse.core.resources.extension"
                      value="henshin">
                </test>
            </or>
         </adapt>
      </definition>
   </extension>
</plugin>
