<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Config SYSTEM "http://pi.informatik.uni-siegen.de/SiDiff/Editrulesgeneratorconfig.dtd" >
<Config>
	<GeneralSettings>
		<preventInconsistency value="true" />
		<multiplicityPreconditions integrated="true" separately="true" />
		<reduceToSuperType
			ADD_REMOVE="true"
			CHANGE_LITERAL="true"
			CHANGE_REFERENCE="true"
			CREATE_DELETE="true"
			MOVE="true"
			MOVE_DOWN="true"
			MOVE_UP="true"
			SET_UNSET_ATTRIBUTE="true"
			SET_UNSET_REFERENCE="true" />
		<disableVariantsWithSupertypeReplacement value="false" />
		<createAllAttributes value="true" />		
   		<modelUsesProfileMechanism value="false"/>
	</GeneralSettings>
	
	<MetaModelSettings>
		<MainModel nsUri="http://www.eclipse.org/uml2/4.0.0/UML" />
		<RequiredModel nsUri="http://www.eclipse.org/uml2/4.0.0/Types" />
		<RequiredModel nsUri="http://www.eclipse.org/emf/2002/Ecore" />			
		<Constraints>
			<NameUniqueness scope="local" eClassifier="NamedElement" eAttributeName="name" eAttributeIsInherited="false"  overrideInheritedConstraintsIfAny="false" applyOnSubTypes="true"/>
		</Constraints>		
	</MetaModelSettings>
	
	<Transformations>
		<Creates allow="true" />
		<Deletes allow="true" />
		<Moves allow="true" allowReferenceSwitching="true" allowReferenceCombinations="true" />
		<MoveUps allow="true"/>
		<MoveDowns allow="true"/>
		<SetAttributes allow="true" />
		<UnsetAttributes allow="true" />
		<SetReferences allow="true" />
		<UnsetReferences allow="true" />
		<Adds allow="true" />
		<Removes allow="true" />
		<ChangeLiterals allow="true" allowLiteralSwitching="true" />
		<ChangeReferences allow="true" />
	</Transformations>

	<!-- nested=true: means the root element can also appear
	somewhere in its lower containments (eg. (Sub-)StateMachine)-->
	<Root name="StateMachine" nested="true"/>
	
	<WhiteList>			
		    <EClassifier name="StateMachine"/>
    		
    		<EClassifier name="Region"/>
    		<EClassifier name="State"/>
    		<EClassifier name="Pseudostate"/>
    		<EClassifier name="FinalState"/>
    		
    		<EClassifier name="Transition"/>
    		<EClassifier name="Activity"/>
    		<EClassifier name="Trigger"/>
    		<EClassifier name="SignalEvent"/>
    		<EClassifier name="Signal"/>
    		
    		<!--EClassifier name="ConnectionPointReference"/-->	
	</WhiteList>
	
	<BlackList>
	    	<EClassifier name="Constraint"/>
    		<EClassifier name="Expression"/>
    		<EClassifier name="InputPin"/>
    		<EClassifier name="OutputPin"/>
    		<EClassifier name="SendSignalAction"/>
    		<EClassifier name="Pin"/>
    		<EClassifier name="ValuePin"/>
	</BlackList>
	
</Config>