<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.vcmsintegration.preferences.enginePipelineStep">
      <client
            class="org.sidiff.vcmsintegration.preferences.patching.Patching">
      </client>
   </extension>
   <extension
         point="org.sidiff.vcmsintegration.preferences.settingsFactory">
      <client
            class="org.sidiff.vcmsintegration.preferences.patching.factory.PatchingSettingsFactory">
      </client>
   </extension>
   <extension
         point="org.sidiff.vcmsintegration.preferences.validationPipelineStep">
      <client
            class="org.sidiff.vcmsintegration.preferences.patching.ValidationPatching">
      </client>
   </extension>

</plugin>
