<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.commands">
      <command
            id="org.silift.merging.ui.ThreeWayMergeCommand"
            name="3-Way-Merge">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.silift.merging.ui.handler.ThreeWayMergeHandler"
            commandId="org.silift.merging.ui.ThreeWayMergeCommand">
         <activeWhen>
            <reference
                  definitionId="org.silift.merging.ui.definition.threeWayMerge">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension 
  id="add.item"
  point="org.eclipse.ui.menus">
 <menuContribution
       locationURI="popup:org.eclipse.ui.popup.any?after=additions">
    <menu
          id="org.sidiff.difference.ui.category.silift"
          label="SiLift">
                 <menu
             id="org.sidiff.difference.ui.category.silift.merging"
             label="Merging">
       <command
             commandId="org.silift.merging.ui.ThreeWayMergeCommand"
             label="Three-Way-Merge"
             style="push"
             tooltip="Merge three models">
       </command>
       </menu>
    </menu>
 </menuContribution>
</extension>
 <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.silift.merging.ui.definition.threeWayMerge">
         <with
               variable="selection">
            <count
                  value="3">
            </count>
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
</plugin>
