<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.sidiff.patching.ui.view.PatchView"
            id="org.sidiff.patching.ui.view.PatchView"
            name="Patch"
            restorable="true"
            icon = "icons/patch.png">
      </view>
      <view
            class="org.sidiff.patching.ui.view.ReportView"
            id="org.sidiff.patching.ui.view.ReportView"
            name="Report"
            restorable="true">
      </view>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command
            id="org.silift.merging.ui.ThreeWayMergeCommand"
            name="3-Way-Merge">
      </command>
   </extension>
   <extension 
  id="add.item"
  point="org.eclipse.ui.menus">
 <menuContribution
       locationURI="popup:org.eclipse.ui.popup.any?after=additions">
    <menu
          id="org.sidiff.difference.ui.category.silift"
          label="SiLift">
       <command
             commandId="org.silift.merging.ui.ThreeWayMergeCommand"
             label="Three-Way-Merge"
             style="push"
             tooltip="Merge three models">
       </command>
    </menu>
 </menuContribution>
</extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.silift.merging.ui.handler.ThreeWayMergeHandler"
            commandId="org.silift.merging.ui.ThreeWayMerge">
         <activeWhen>
            <reference
                  definitionId="org.sidiff.patching.ui.threeWayMergeDefinition">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.sidiff.patching.ui.threeWayMergeDefinition">
         <test
               property="org.silift.merging.ui.test1"
               value="true">
         </test>
      </definition>
   </extension>
   
</plugin>
