<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.integration.preferences.enginePipelineStep">
      <client
            class="org.sidiff.integration.preferences.matching.MatchingEnginesPreferenceTab">
      </client>
   </extension>
   <extension
         point="org.sidiff.integration.preferences.settingsFactory">
      <client
            class="org.sidiff.integration.preferences.matching.factory.MatchingSettingsFactory">
      </client>
   </extension>
</plugin>
