<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.unisiegen.informatik.pi.henshin.ui.interpreter.views.category"
            name="EMF Henshin">
      </category>
      <view
            allowMultiple="false"
            category="de.unisiegen.informatik.pi.henshin.ui.interpreter.views.category"
            class="de.unisiegen.informatik.pi.henshin.ui.interpreter.views.HenshinInterpreterView"
            icon="icons/Henshin_small16.gif"
            id="de.unisiegen.informatik.pi.henshin.ui.interpreter.views.HenshinInterpreterView"
            name="Henshin Interpreter"
            restorable="true">
      </view>
   </extension>

</plugin>
