<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.difference.profile.difference_profile_handler">
      <difference_profile
            profile_handler="org.sidiff.uml2.v4.profile.handler.UML2v4ProfileHandler">
      </difference_profile>
   </extension>

</plugin>
