<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.sidiff.difference.ui.category.silift"
            name="SiLift">
      </category>
      <command
            categoryId="org.sidiff.difference.ui.category.silift"
            id="org.sidiff.difference.lifting.ui.createLifting"
            name="Create lifting from technical difference">
      </command>
      <command
            categoryId="org.sidiff.difference.ui.category.silift"
            id="org.sidiff.difference.lifting.ui.createDiffLifting"
            name="Create difference and lift it">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.sidiff.difference.lifting.ui.handler.LiftDifferenceHandler"
            commandId="org.sidiff.difference.lifting.ui.createLifting">
         <activeWhen>
            <reference
                  definitionId="org.sidiff.difference.lifting.ui.definition.difference">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.sidiff.difference.lifting.ui.handler.LiftDifferenceHandler"
            commandId="org.sidiff.difference.lifting.ui.createDiffLifting">
         <activeWhen>
            <reference
                  definitionId="org.sidiff.difference.lifting.ui.definition.modelFiles">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension point="org.eclipse.ui.menus">
  <menuContribution
        locationURI="popup:org.eclipse.ui.popup.any?after=additions">
     <menu
           id="org.silift.menu"
           label="SiLift">
        <separator
              name="header"
              visible="false">
        </separator>
        <visibleWhen
                  checkEnabled="false">
           <reference
                 definitionId="org.silift.menu.definition.visibility">
           </reference>
            </visibleWhen>
     </menu>
  </menuContribution>
  <menuContribution
        locationURI="popup:org.silift.menu?after=header">
     <command
           commandId="org.sidiff.difference.lifting.ui.createDiffLifting"
           label="Compare with Each Other"
           style="push"
           tooltip="Compares to models with each other">
     </command>
     <command
           commandId="org.sidiff.difference.lifting.ui.createLifting"
           label="Lift Technical Difference"
           style="push"
           tooltip="Lifts a technical Difference">
     </command>
     <separator
           name="org.sidiff.difference.lifting.ui.separator"
           visible="true">
     </separator>
  </menuContribution>
</extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.sidiff.difference.lifting.ui.handler.LiftingPropertyTester"
            id="org.sidiff.difference.lifting.ui.liftingPropertyTester"
            namespace="org.sidiff.difference.lifting.ui.properties"
            properties="difference,modelFile"
            type="org.eclipse.core.resources.IFile">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.sidiff.difference.lifting.ui.definition.modelFiles">
         <with
               variable="selection">
            <count
                  value="2">
            </count>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <test
               		 forcePluginActivation="true"
                     property="org.sidiff.difference.lifting.ui.properties.modelFile">
               </test>
            </iterate>
         </with>
      </definition>
      <definition
            id="org.sidiff.difference.lifting.ui.definition.difference">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <test
               		 forcePluginActivation="true"
                     property="org.sidiff.difference.lifting.ui.properties.difference">
               </test>
            </iterate>
         </with>
      </definition>
      <definition
            id="org.silift.menu.definition.visibility">
         <with
               variable="selection">
            <iterate>
               <or>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.emf.facet.infra.browser.uicore.internal.model.ModelElementItem">
                  </instanceof>
               </or>
            </iterate>
         </with>
      </definition>
   </extension>
</plugin>
