<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.sidiff.vcmsintegration.preferences.DomainsPage"
            class="org.sidiff.vcmsintegration.preferences.domains.ecore.Ecore"
            id="org.sidiff.vcmsintegration.preferences.domains.ecore.page"
            name="Ecore">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.sidiff.vcmsintegration.properties.domainsPage"
            class="org.sidiff.vcmsintegration.preferences.domains.ecore.Ecore"
            id="org.sidiff.vcmsintegration.properties.domains.ecore.page"
            name="Ecore"
            objectClass="org.eclipse.core.resources.IProject">
      </page>
   </extension>

</plugin>
