<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.sidiff.integration.preferences.domains.significance" name="SiDiff Preference Domain Significance" schema="schema/org.sidiff.integration.preferences.domains.significance.exsd"/>
	<extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.sidiff.integration.preferences.SiDiffSettings"
            class="org.sidiff.integration.preferences.domains.DomainSettingsIndexPage"
            id="org.sidiff.integration.preferences.SiDiffSettings.domains"
            name="Domains">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.sidiff.integration.properties.SiDiffSettings"
            class="org.sidiff.integration.preferences.domains.DomainSettingsIndexPage"
            id="org.sidiff.integration.properties.SiDiffSettings.domains"
            name="Domains">
         <enabledWhen>
            <reference
                  definitionId="org.sidiff.integration.preferences.showPropertiesDefinition">
            </reference>
         </enabledWhen>
      </page>
   </extension>
</plugin>
