<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.sidiff.difference.symmetric.compareview" name="CompareView" schema="schema/org.sidiff.difference.symmetric.compareview.exsd"/>
   <extension-point id="org.sidiff.difference.compareViewer" name="Compare Viewer" schema="schema/org.sidiff.difference.compareViewer.exsd"/>
   <extension
         id="org.sidiff.difference.decorator.differenceSelectionDecorator"
         name="Difference Selection Decorator"
         point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider
            class="org.sidiff.difference.symmetric.compareview.internal.DifferenceSelectionDecoratorProvider">
         <Priority
               name="Lowest">
         </Priority>
         <object
               class="org.eclipse.gmf.runtime.notation.View(org.eclipse.gmf.runtime.notation)"
               id="NODE">
         </object>
         <context
               decoratorTargets="NODE">
         </context>
      </decoratorProvider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.sidiff.difference.symmetric.compareview"
            name="Difference">
      </category>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.sidiff.difference.symmetric.compareview.internal.handler.DifferencePropertyTester"
            id="org.sidiff.difference.symmetric.compareview.differencePropertyTester"
            namespace="org.sidiff.difference.symmetric.compareview.properties"
            properties="difference"
            type="org.eclipse.ui.IEditorPart">
      </propertyTester>
   </extension>
   <extension
         point="org.sidiff.difference.compareViewer">
      <editor
            editorId="org.sidiff.difference.symmetric.presentation.SymmetricEditorID">
         <supportedEditor
               diagramEditorId="org.eclipse.papyrus.infra.core.papyrusEditor"
               name="UML"
               treeEditorId="org.eclipse.uml2.uml.editor.presentation.UMLEditorID">
         </supportedEditor>
         <supportedEditor
               diagramEditorId="org.eclipse.emf.ecoretools.diagram.part.EcoreDiagramEditorID"
               name="Ecore"
               treeEditorId="org.eclipse.emf.ecore.presentation.EcoreEditorID">
         </supportedEditor>
         <supportedEditor
               diagramEditorId="simplewebmodel.diagram.part.SimplewebmodelDiagramEditorID"
               name="SimpleWebModel"
               treeEditorId="simplewebmodel.presentation.SimplewebmodelEditorID">
         </supportedEditor>
         <supportedEditor
               diagramEditorId="org.eclipse.featuremodel.diagrameditor.diagrameditor"
               name="FeatureModel"
               treeEditorId="org.eclipse.featuremodel.presentation.FeatureModelEditorID">
         </supportedEditor>
      </editor>
   </extension>
   <extension
         point="org.sidiff.difference.compareViewer">
      <editor
            editorId="org.sidiff.difference.asymmetric.presentation.AsymmetricEditorID">
         <supportedEditor
               diagramEditorId="org.eclipse.papyrus.infra.core.papyrusEditor"
               name="UML"
               treeEditorId="org.eclipse.uml2.uml.editor.presentation.UMLEditorID">
         </supportedEditor>
         <supportedEditor
               diagramEditorId="org.eclipse.emf.ecoretools.diagram.part.EcoreDiagramEditorID"
               name="Ecore"
               treeEditorId="org.eclipse.emf.ecore.presentation.EcoreEditorID">
         </supportedEditor>
         <supportedEditor
               diagramEditorId="simplewebmodel.diagram.part.SimplewebmodelDiagramEditorID"
               name="SimpleWebModel"
               treeEditorId="simplewebmodel.presentation.SimplewebmodelEditorID">
         </supportedEditor>
         <supportedEditor
               diagramEditorId="org.eclipse.featuremodel.diagrameditor.diagrameditor"
               name="FeatureModel"
               treeEditorId="org.eclipse.featuremodel.presentation.FeatureModelEditorID">
         </supportedEditor>
      </editor>
   </extension>

</plugin>
