<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.silift.diagram.util.editorFiles" name="EditorFiles" schema="schema/org.silift.diagram.util.editorFiles.exsd"/>
   <extension-point id="org.silift.diagram.util.openDiagramAction" name="OpenDiagramAction" schema="schema/org.silift.diagram.util.openDiagramAction.exsd"/>
   <extension
         point="org.silift.diagram.util.editorFiles">
      <EditorFiles
            DiagramEditorFileType="aird"
            DiagramEditorId="org.eclipse.sirius.diagram.ui.part.SiriusDiagramEditorID"
            ModelEditorFileType="ecore"
            ModelEditorId="org.eclipse.emf.ecore.presentation.EcoreEditorID">
      </EditorFiles>
   </extension>

</plugin>
