<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.patching.correspondence">
      <client
            class="org.sidiff.patching.correspondence.sidiff.impl.SidiffPatchCorrespondenceImpl"
            documentType="*">
      </client>
   </extension>
   <extension-point id="org.sidiff.patching.correspondence.sidiff.reliabilitycalculator" name="ReliabilityCalculator" schema="schema/org.sidiff.patching.correspondence.sidiff.reliabilitycalculator.exsd"/>

</plugin>
