<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.silift.example.newwizard_loadexample.category"
            name="SiLift"
            parentCategory="org.eclipse.ui.Examples">
      </category>
      <wizard
            category="org.eclipse.ui.Examples/org.silift.example.newwizard_loadexample.category"
            class="org.silift.example.newwizard_loadexample.Wizard_LoadExample"
            hasPages="true"
            id="org.silift.example.NewWizard_LoadExample.wiz_pi"
            name="SiLift Example"
            project="true">
      </wizard>
   </extension>

</plugin>
