<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.difference.lifting.recognitionrulesorter.recognition_rule_sorter_extension">
      <recognition_rule_sorter
            class="org.sidiff.fm.recognitionrulesorter.FMRecognitionRuleSorter"
            recognition_rule_sorter="org.sidiff.fm.recognitionrulesorter.FMRecognitionRuleSorter">
      </recognition_rule_sorter>
   </extension>

</plugin>
