<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.editrule.analysis.classification.classification_extension">
      <classification
            classification="org.sidiff.editrule.analysis.classification.namebased.NameBasedClassificator">
      </classification>
   </extension>

</plugin>
