<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.integration.editor">
      <editor
            class="org.sidiff.integration.editor.henshin.HenshinEditorIntegration"
            diagramEditor="org.eclipse.emf.henshin.diagram.part.HenshinDiagramEditorID"
            treeEditor="org.eclipse.emf.henshin.presentation.HenshinEditorID">
      </editor>
   </extension>

</plugin>
