<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.difference.matcher.matcher_extension">
         <matcher name="org.sidiff.difference.matcher.sidiff.SiDiffMatchingAdapter"/>
   </extension>

	<extension-point id="org.silift.matcher.sidiff.reliability" name="ReliabilityCalculator" schema="schema/org.silift.matcher.sidiff.reliability.exsd"/>
</plugin>
