<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.common.symboliclink.handler.symbolic_link_handler_extension">
      <symbolic_link
            symbolic_link_handler="org.silift.difference.symboliclink.handler.uuid.UUIDSymbolicLinkHandler">
      </symbolic_link>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UUIDSymbolicLink -->
      <package
            uri="http://uuidsymboliclink/1.0"
            class="org.sidiff.model.uuidsymboliclink.UuidsymboliclinkPackage"
            genModel="model/UUIDSymbolicLink.genmodel"/>
   </extension>

</plugin>
