html, body {
	height:100%; 
	margin: 20px;
	padding: 0; 
}

html>body {
	font-size: 75%;
}

body {
	font-family: Verdana, helvetica, arial, sans-serif;
	font-size: 75%;
	background: #fff;
}

a img { border: none; }

div#navigation {
	float: left; 
	width: 33em;
	margin: 0; 
	padding: 0 1em;
	border: 1px dashed silver;
}

div#description {
	margin-left: 37em;
	padding: 0 1em;
	border: 1px dashed silver;
	min-width: 16em;
}

div#rule {
	margin-left: 37em;
	padding: 0 1em;
	min-width: 16em;
}