<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.difference.rulebase.rulebase_extension">
         <rulebase rulebase="org.sidiff.sysml.recognitionrules.atomic.SysMLAtomicGeneratedRulebase"/>
   </extension>  

  <extension
     point="org.eclipse.emf.ecore.uri_mapping">
    <mapping
       source="platform:/resource/org.sidiff.sysml.editrules.atomic/"
       target="platform:/plugin/org.sidiff.sysml.editrules.atomic/">
    </mapping>
  </extension>
  <extension
     point="org.eclipse.emf.ecore.uri_mapping">
    <mapping
       source="platform:/resource/org.sidiff.sysml.recognitionrules.atomic/"
       target="platform:/plugin/org.sidiff.sysml.recognitionrules.atomic/">
    </mapping>
  </extension>
</plugin>