<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.domain.editor">
      <editor
            class="org.sidiff.domain.editor.simplewebmodel.SimpleWebModelDomainEditor"
            diagramEditor="simplewebmodel.diagram.part.SimplewebmodelDiagramEditorID"
            treeEditor="simplewebmodel.presentation.SimplewebmodelEditorID">
      </editor>
   </extension>

</plugin>
