<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.integration.preferences.domains.pipelineStep">
      <client
            class="org.sidiff.integration.preferences.domains.lifting.DomainLiftingPreferenceTab">
      </client>
   </extension>
   <extension
         point="org.sidiff.integration.preferences.settingsAdapter">
      <adapter
            class="org.sidiff.integration.preferences.domains.lifting.settingsadapter.DomainLiftingSettingsAdapter">
      </adapter>
   </extension>
   <extension
         point="org.sidiff.integration.preferences.domains.significance">
      <significanceProvider
            class="org.sidiff.integration.preferences.domains.lifting.LiftingPreferenceSignificanceProvider">
      </significanceProvider>
   </extension>
</plugin>
