<?xml version="1.0" encoding="UTF-8"?>
<contexts>
   <context id="index">
      <topic href="help/pages/index.html" label="SiDiff Settings"/>
   </context>
   <context id="general">
      <topic href="help/pages/general.html" label="General"/>
   </context>
   <context id="engines">
      <topic href="help/pages/engines.html" label="Engines"/>
   </context>
   <context id="engines_lifting">
      <topic href="help/pages/engines_lifting.html" label="Lifting"/>
   </context>
   <context id="engines_matching">
      <topic href="help/pages/engines_matching.html" label="Matching"/>
   </context>
   <context id="engines_patching">
      <topic href="help/pages/engines_patching.html" label="Patching"/>
   </context>
   <context id="engines_difference">
      <topic href="help/pages/engines_difference.html" label="Difference"/>
   </context>
   <context id="validation">
      <topic href="help/pages/validation.html" label="Validation"/>
   </context>
   <context id="validation_general">
      <topic href="help/pages/validation_general.html" label="General"/>
   </context>
   <context id="validation_patching">
      <topic href="help/pages/validation_patching.html" label="Patching"/>
   </context>
</contexts>
