<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.patching.correspondence.sidiff.reliabilitycalculator">
      <client
            class="org.sidiff.patching.reliability.uml.impl.UMLReliabilityCalculatorImpl"
            documentType="http://www.eclipse.org/uml2/4.0.0/UML">
      </client>
   </extension>

</plugin>
