<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="UML2StringResolver"
         name="UML2 String Resolver"
         point="org.sidiff.common.emf.stringresolver.string_resolver_extension">
      <string_resolver
            string_resolver="org.sidiff.uml2.stringresolver.UML2StringResolver">
         <documentType>http://www.eclipse.org/uml2/5.0.0/UML</documentType>
      </string_resolver>
   </extension>

</plugin>
