<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.sidiff.integration.preferences.settingsAdapter" name="SiDiff Settings Adapter" schema="schema/org.sidiff.integration.preferences.settingsAdapter.exsd"/>
   <extension-point id="org.sidiff.integration.preferences.preferenceTabs" name="SiDiff Preference Tabs" schema="schema/org.sidiff.integration.preferences.preferenceTabs.exsd"/>
   <extension-point id="org.sidiff.integration.preferences.pipelineSteps" name="SiDiff Preference Pipeline Steps" schema="schema/org.sidiff.integration.preferences.pipelineSteps.exsd"/>
   <extension-point id="org.sidiff.integration.preferences.domains.significance" name="SiDiff Domain Signigicance Provider" schema="schema/org.sidiff.integration.preferences.domains.significance.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.sidiff.integration.preferences.pages.MainPage"
            id="org.sidiff.integration.preferences.SiDiffSettings"
            name="SiDiff Settings">
      </page>
      <page
            category="org.sidiff.integration.preferences.SiDiffSettings"
            class="org.sidiff.integration.preferences.pages.EnginesPage"
            id="org.sidiff.integration.preferences.SiDiffSettings.engines"
            name="Engines">
      </page>
      <page
            category="org.sidiff.integration.preferences.SiDiffSettings"
            class="org.sidiff.integration.preferences.pages.ValidationPage"
            id="org.sidiff.integration.preferences.SiDiffSettings.validation"
            name="Validation">
      </page>
      <page
            category="org.sidiff.integration.preferences.SiDiffSettings"
            class="org.sidiff.integration.preferences.pages.GeneralPage"
            id="org.sidiff.integration.preferences.SiDiffSettings.general"
            name="General">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.sidiff.integration.preferences.pages.MainPage"
            id="org.sidiff.integration.properties.SiDiffSettings"
            name="SiDiff Settings">
         <enabledWhen>
            <reference
                  definitionId="org.sidiff.integration.preferences.showPropertiesDefinition">
            </reference>
         </enabledWhen>
      </page>
      <page
            category="org.sidiff.integration.properties.SiDiffSettings"
            class="org.sidiff.integration.preferences.pages.EnginesPage"
            id="org.sidiff.integration.properties.SiDiffSettings.engines"
            name="Engines">
         <enabledWhen>
            <reference
                  definitionId="org.sidiff.integration.preferences.showPropertiesDefinition">
            </reference>
         </enabledWhen>
      </page>
      <page
            category="org.sidiff.integration.properties.SiDiffSettings"
            class="org.sidiff.integration.preferences.pages.ValidationPage"
            id="org.sidiff.integration.properties.SiDiffSettings.validation"
            name="Validation">
         <enabledWhen>
            <reference
                  definitionId="org.sidiff.integration.preferences.showPropertiesDefinition">
            </reference>
         </enabledWhen>
      </page>
      <page
            category="org.sidiff.integration.properties.SiDiffSettings"
            class="org.sidiff.integration.preferences.pages.GeneralPage"
            id="org.sidiff.integration.properties.SiDiffSettings.general"
            name="General">
         <enabledWhen>
            <reference
                  definitionId="org.sidiff.integration.preferences.showPropertiesDefinition">
            </reference>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.sidiff.integration.preferences.SettingsAdapterPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.sidiff.integration.preferences.showPropertiesDefinition">
         <adapt
               type="org.eclipse.core.resources.IProject">
         </adapt>
      </definition>
   </extension>
</plugin>
