<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.sidiff.integration.preferences.enginePipelineStep" name="SiDiff Engine Pipeline Step" schema="schema/org.sidiff.integration.preferences.enginesPipelineStep.exsd"/>
   <extension-point id="org.sidiff.integration.preferences.validationPipelineStep" name="SiDiff Validation Pipeline Step" schema="schema/org.sidiff.integration.preferences.validationPipelineStep.exsd"/>
   <extension-point id="org.sidiff.integration.preferences.settingsAdapter" name="SiDiff Settings Adapter" schema="schema/org.sidiff.integration.preferences.settingsAdapter.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.sidiff.integration.preferences.MainPage"
            id="org.sidiff.integration.preferences.SiDiffSettings"
            name="SiDiff Settings">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.sidiff.integration.preferences.SiDiffSettings"
            class="org.sidiff.integration.preferences.EnginesPage"
            id="org.sidiff.integration.preferences.SiDiffSettings.engines"
            name="Engines">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.sidiff.integration.preferences.SiDiffSettings"
            class="org.sidiff.integration.preferences.ValidationPage"
            id="org.sidiff.integration.preferences.SiDiffSettings.validation"
            name="Validation">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.sidiff.integration.preferences.MainPage"
            id="org.sidiff.integration.properties.SiDiffSettings"
            name="SiDiff Settings">
         <enabledWhen>
            <reference
                  definitionId="org.sidiff.integration.preferences.showPropertiesDefinition">
            </reference>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.sidiff.integration.properties.SiDiffSettings"
            class="org.sidiff.integration.preferences.EnginesPage"
            id="org.sidiff.integration.properties.SiDiffSettings.engines"
            name="Engines">
         <enabledWhen>
            <reference
                  definitionId="org.sidiff.integration.preferences.showPropertiesDefinition">
            </reference>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.sidiff.integration.properties.SiDiffSettings"
            class="org.sidiff.integration.preferences.ValidationPage"
            id="org.sidiff.integration.properties.SiDiffSettings.validation"
            name="Validation">
         <enabledWhen>
            <reference
                  definitionId="org.sidiff.integration.preferences.showPropertiesDefinition">
            </reference>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.sidiff.integration.preferences.SettingsAdapterPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.sidiff.integration.preferences.showPropertiesDefinition">
         <adapt
               type="org.eclipse.core.resources.IProject">
         </adapt>
      </definition>
   </extension>
</plugin>
